@define-color bg #0d1117;
@define-color fg #f0f6fc;
@define-color gray1 #3fb950;
@define-color gray2 #484f58;
@define-color gray3 #58a6ff;
@define-color gray4 #d29922;
@define-color gray5 #bc8cff;
@define-color fg_bright #f0f6fc;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}